# ResponseWrapper<T>

Generic response wrapper for all API responses from the common package.

> **Note**: This is imported from `package:common/model/response_wrapper.dart`

## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
| **success** | **bool** | Whether the request was successful | [required] |
| **data** | **T?** | The wrapped data of generic type T | [optional] |
| **message** | **String?** | Error message if success is false | [optional] |
| **errors** | **Map<String, dynamic>?** | Additional error details | [optional] |
| **statusCode** | **int?** | HTTP status code | [optional] |

## Usage

### Import
```dart
import 'package:common/model/response_wrapper.dart';
```

### Successful response
```dart
final wrapper = ResponseWrapper<Customer>.success(customer, statusCode: 200);
```

### Error response
```dart
final wrapper = ResponseWrapper<Customer>.error(
  'Customer not found',
  statusCode: 404,
  errors: {'field': ['validation error']}
);
```

### From JSON
```dart
final wrapper = ResponseWrapper<Customer>.fromJson(
  json,
  (json) => Customer.fromJson(json as Map<String, dynamic>),
);
```

## Type Parameters

| Name | Description |
|------|-------------|
| **T** | The type of data contained in the response |

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)