variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/spring-app:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/spring-app:$CI_COMMIT_SHORT_SHA
  API_SPEC: openapi.json
  API_OUTPUT_DIR: lib/api
  DART_REPO: git@gitlab.com:PsychoOrange/greedys_api_dart_lib.git

stages:
  - publish
  - deploy
  - generate_and_publish_api

publish:
  image: docker:latest
  stage: publish
  services:
    - docker:dind
  script:
    - echo "Logging into Docker registry..."
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - echo "Building Docker image for spring-app..."
    - docker compose build spring-app || (docker logs spring-app && exit 1)
    - echo "Tagging Docker image with commit and latest tags..."
    - docker tag $CI_REGISTRY_IMAGE/spring-app:latest $TAG_COMMIT
    - docker tag $CI_REGISTRY_IMAGE/spring-app:latest $TAG_LATEST
    - echo "Pushing Docker images..."
    - docker push $TAG_COMMIT
    - docker push $TAG_LATEST
    - echo "Pushing Docker compose..."
    - docker compose push
  only:
    - main

deploy:
  image: alpine:latest
  stage: deploy
  script:
    - echo "Setting permissions for RSA key..."
    - chmod 600 $ID_RSA
    - echo "Updating apk and installing openssh-client..."
    - apk update && apk add openssh-client
    - echo "Creating directory on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "mkdir -p /home/$SERVER_USER/greedys_api/"
    - echo "Copying docker-compose.yml to remote server..."
    - scp -i $ID_RSA -o StrictHostKeyChecking=no docker-compose.yml $SERVER_USER@$SERVER_IP:/home/$SERVER_USER/greedys_api/
    - echo "Logging into Docker registry on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY"
    - echo "Pulling Docker images on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd /home/$SERVER_USER/greedys_api/ && docker compose pull"
    - echo "Starting Docker containers on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd /home/$SERVER_USER/greedys_api/ && docker compose up -d"
  only:
    - main

generate_and_publish_api:
  image: docker:latest
  stage: generate_and_publish_api
  services:
    - docker:dind
  script:
    - echo "Logging into Docker registry..."
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - echo "Running health check on spring-app..."
    - until curl -f http://spring-app:8080/actuator/health; do echo "Waiting for spring-app to be healthy..."; sleep 10; done
    - echo "Running the Docker container to generate OpenAPI specification and Dart client library..."
    - docker run --rm -v $(pwd):/app/greedys_api -w /app/greedys_api $TAG_LATEST mvn springdoc-openapi:generate openapi-generator:generate -e
    - echo "Cloning Dart client library repository..."
    - git clone $DART_REPO
    - echo "Copying generated sources to Dart client library repository..."
    - rm -rf greedys_api_dart_lib/lib/api
    - cp -r target/generated-sources/openapi/lib/api greedys_api_dart_lib/lib/
    - cd greedys_api_dart_lib
    - git add .
    - git commit -m "Update Dart client library with latest API changes"
    - git push origin main
  only:
    - main
