variables:
  TAG_LATEST: ${CI_REGISTRY_IMAGE}/spring-app:latest
  TAG_COMMIT: ${CI_REGISTRY_IMAGE}/spring-app:${CI_COMMIT_SHORT_SHA}
  DART_REPO: git@gitlab.com:PsychoOrange/greedys_api_dart_lib.git
  USER: root  # Set USER variable to avoid warnings

stages:
  - build
  - deploy
  - publish

cache:
  paths:
    - .m2/repository
    - node_modules/

build:
  image: docker:24.0.5
  stage: build
  services:
    - docker:24.0.5-dind
  script:
    - echo "Logging into Docker registry..."
    - echo $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
    - echo "Building and tagging Docker image for spring-app..."
    - docker build -t $TAG_LATEST --build-arg SPRING_PROFILES_ACTIVE="docker" .
    - echo "Tagging Docker image with commit tag..."
    - docker tag $TAG_LATEST $TAG_COMMIT
    - echo "Pushing Docker images..."
    - docker push $TAG_LATEST
    - docker push $TAG_COMMIT
  only:
    - main
  after_script:
    - echo "Cleaning up Docker resources..."
    - docker system prune -f

deploy:
  image: alpine:3.18
  stage: deploy
  script:
    - echo "Setting permissions for RSA key..."
    - chmod 600 $ID_RSA
    - echo "Updating apk and installing openssh-client..."
    - apk update && apk add openssh-client
    - echo "Creating directory on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "mkdir -p /home/$SERVER_USER/greedys_api/"
    - echo "Copying docker-compose.yml to remote server..."
    - scp -i $ID_RSA -o StrictHostKeyChecking=no docker-compose.yml $SERVER_USER@$SERVER_IP:/home/$SERVER_USER/greedys_api/
    - echo "Logging into Docker registry on remote server..."
    - echo $CI_JOB_TOKEN | ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY"
    - echo "Pulling Docker images on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd /home/$SERVER_USER/greedys_api/ && sudo docker compose pull"
    - echo "Starting Docker stack on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP \
      "cd /home/$SERVER_USER/greedys_api/ && sudo docker stack deploy -c docker-compose.yml greedys_api"
  only:
    - main

publish:
  image: openjdk:11-jre-slim
  stage: publish
  script:
    - echo "Updating apt and installing curl, Node.js, and git..."
    - apt-get update && apt-get install -y curl git
    - curl -sL https://deb.nodesource.com/setup_18.x | bash -
    - apt-get install -y nodejs
    - npm install -g @openapitools/openapi-generator-cli
    - echo "Fetching OpenAPI specification from spring-app..."
    - curl -o openapi.yaml https://$SERVER_IP:5050/v3/api-docs.yaml
    - echo "Setting up GIT_ASKPASS to use PAT..."
    - echo "echo \$PAT" > /tmp/git-askpass.sh
    - chmod +x /tmp/git-askpass.sh
    - export GIT_ASKPASS=/tmp/git-askpass.sh
    - echo "Cloning Dart client library repository using HTTPS with PAT..."
    - git clone https://gitlab.com/PsychoOrange/greedys_api_dart_lib.git
    - cd greedys_api_dart_lib
    - echo "Configuring Git user name and email..."
    - git config user.email "ci-bot@greedys.com"
    - git config user.name "Greedys CI Bot"
    - echo "Generating Dart client library with Dio from OpenAPI specification..."
    - openapi-generator-cli generate -i ../openapi.yaml -g dart-dio -o .
    - echo "Committing and pushing changes to Dart client library repository..."
    - git add .
    - git commit -m "Update Dart client library with latest API changes"
    - git push origin main
  only:
    - main
