variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/spring-app:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/spring-app:$CI_COMMIT_SHORT_SHA

stages:
  - publish
  - deploy

publish:
  image: docker:latest
  stage: publish
  services:
    - docker:dind
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker compose build spring-app
    - docker tag $CI_REGISTRY_IMAGE/spring-app:latest $TAG_COMMIT
    - docker tag $CI_REGISTRY_IMAGE/spring-app:latest $TAG_LATEST
    - docker push $TAG_COMMIT
    - docker push $TAG_LATEST
    - docker compose push
  only:
    - main

deploy:
  image: alpine:latest
  stage: deploy
  script:
    - chmod og= $ID_RSA
    - apk update && apk add openssh-client
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker compose pull"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker compose up -d spring-app"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker system prune -f"  # Pulisce le risorse inutilizzate
  only:
    - main
