variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/spring-app:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/spring-app:$CI_COMMIT_SHORT_SHA
  API_SPEC: openapi.json
  API_OUTPUT_DIR: lib/api

stages:
  - publish
  - deploy
  - generate_and_publish_api

publish:
  image: docker:latest
  stage: publish
  services:
    - docker:dind
  script:
    - echo "Logging into Docker registry..."
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - echo "Building Docker image for spring-app..."
    - docker compose build spring-app
    - echo "Tagging Docker image with commit and latest tags..."
    - docker tag $CI_REGISTRY_IMAGE/spring-app:latest $TAG_COMMIT
    - docker tag $CI_REGISTRY_IMAGE/spring-app:latest $TAG_LATEST
    - echo "Pushing Docker images..."
    - docker push $TAG_COMMIT
    - docker push $TAG_LATEST
    - echo "Pushing Docker compose..."
    - docker compose push
  only:
    - main

deploy:
  image: alpine:latest
  stage: deploy
  script:
    - echo "Setting permissions for RSA key..."
    - chmod 600 $ID_RSA
    - echo "Updating apk and installing openssh-client..."
    - apk update && apk add openssh-client
    - echo "Creating directory on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "mkdir -p /home/$SERVER_USER/greedys_api/"
    - echo "Copying docker-compose.yml to remote server..."
    - scp -i $ID_RSA -o StrictHostKeyChecking=no docker-compose.yml $SERVER_USER@$SERVER_IP:/home/$SERVER_USER/greedys_api/
    - echo "Logging into Docker registry on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY"
    - echo "Pulling Docker images on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd /home/$SERVER_USER/greedys_api/ && docker compose pull"
    - echo "Starting Docker containers on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd /home/$SERVER_USER/greedys_api/ && docker compose up -d"
  only:
    - main

generate_and_publish_api:
  image: docker:latest
  stage: generate_and_publish_api
  services:
    - docker:dind
  script:
    - echo "Fetching OpenAPI spec from server..."
    - curl -X GET "http://46.101.209.92:5050/v3/api-docs" -H "accept: application/json" -o $API_SPEC
    - echo "Starting OpenAPI Generator Online Docker container..."
    - CID=$(docker run -d -p 8888:8080 openapitools/openapi-generator-online)
    - echo "Allowing OpenAPI Generator container to start..."
    - sleep 10
    - echo "Generating Dart API client using OpenAPI Generator Online..."
    -     - curl -X POST --header "Content-Type: application/json" --header "Accept: application/json" \
        -d '{"openAPIUrl": "http://46.101.209.92:5050/v3/api-docs"}' \
        http://localhost:8888/api/gen/clients/dart-dio > generation_output.json
    - echo "Downloading the generated Dart API client..."
    - DOWNLOAD_LINK=$(jq -r '.link' generation_output.json)
    - wget "$DOWNLOAD_LINK" -O api_generated.zip
    - echo "Unzipping the generated API files..."
    - unzip -o api_generated.zip -d $API_OUTPUT_DIR
    - echo "Stopping and removing OpenAPI Generator container..."
    - docker stop $CID && docker rm $CID
    - echo "Installing Git and cloning the API repository..."
    - apk add --no-cache git openssh-client
    - echo "Cloning the repository..."
    - git clone git@gitlab.com:PsychoOrange/greedys_api_dart_lib.git temp_api_repo
    - echo "Copying generated files to the repository..."
    - cp -r $API_OUTPUT_DIR/* temp_api_repo/
    - cd temp_api_repo
    - echo "Adding generated files to Git..."
    - git add .
    - echo "Committing changes..."
    - git commit -m "Generated Dart API from OpenAPI spec" || echo "No changes to commit"
    - echo "Pushing changes to remote repository..."
    - git push origin main || echo "Failed to push changes, likely no new changes"
  only:
    - main
