variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/spring-app:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/spring-app:$CI_COMMIT_SHORT_SHA
  API_SPEC: openapi.json

stages:
  - publish
  - deploy
  - generate_api

publish:
  image: docker:latest
  stage: publish
  services:
    - docker:dind
  script:
    - echo "Logging into Docker registry..."
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - echo "Building Docker image for spring-app..."
    - docker compose build spring-app
    - echo "Tagging Docker image with commit and latest tags..."
    - docker tag $CI_REGISTRY_IMAGE/spring-app:latest $TAG_COMMIT
    - docker tag $CI_REGISTRY_IMAGE/spring-app:latest $TAG_LATEST
    - echo "Pushing Docker images..."
    - docker push $TAG_COMMIT
    - docker push $TAG_LATEST
    - echo "Pushing Docker compose..."
    - docker compose push
  only:
    - main

deploy:
  image: alpine:latest
  stage: deploy
  script:
    - echo "Setting permissions for RSA key..."
    - chmod 600 $ID_RSA
    - echo "Updating apk and installing openssh-client..."
    - apk update && apk add openssh-client
    - echo "Creating directory on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "mkdir -p /home/$SERVER_USER/greedys_api/"
    - echo "Copying docker-compose.yml to remote server..."
    - scp -i $ID_RSA -o StrictHostKeyChecking=no docker-compose.yml $SERVER_USER@$SERVER_IP:/home/$SERVER_USER/greedys_api/
    - echo "Logging into Docker registry on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY"
    - echo "Pulling Docker images on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd /home/$SERVER_USER/greedys_api/ && docker compose pull"
    - echo "Starting Docker containers on remote server..."
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "cd /home/$SERVER_USER/greedys_api/ && docker compose up -d"
  only:
    - main

generate_api:
  image: openapitools/openapi-generator-cli
  stage: generate_api
  script:
    - |
      echo "Waiting for server to restart..."
      sleep 60  # Attendere il riavvio del server
      echo "Creating API directory..."
      mkdir -p lib/api/
      echo "Initializing Git repository..."
      cd lib/api/
      git init
      echo "Adding remote Git repository..."
      git remote add origin git@gitlab.com:PsychoOrange/greedys_api_dart_lib.git
      echo "Pulling latest changes from remote repository..."
      git pull origin main --rebase  # Pull changes from remote repository
      cd -
      echo "Fetching OpenAPI spec from server..."
      curl -X GET "http://46.101.209.92:5050/v3/api-docs" -H  "accept: application/json" > $API_SPEC
      echo "Generating Dart API client from OpenAPI spec..."
      openapi-generator generate -g dart-dio -i $API_SPEC -o lib/api/
      echo "Adding generated files to Git..."
      cd lib/api/
      git add .
      echo "Committing changes..."
      git commit -m "Generated Dart API from OpenAPI spec"
      echo "Pushing changes to remote repository..."
      git push origin main
  only:
    - main
