variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/spring-app:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/spring-app:$CI_COMMIT_SHORT_SHA

stages:
  - test
  - publish
  - deploy

include:
  - template: Security/Dependency-Scanning.gitlab-ci.yml

publish:
  image: docker:latest
  stage: publish
  services:
    - docker:dind
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker compose build spring-app          # Costruisci solo il servizio 'spring-app'
    - docker tag registry.gitlab.com/greedys_api/spring-app $TAG_COMMIT
    - docker tag registry.gitlab.com/greedys_api/spring-app $TAG_LATEST
    - docker push $TAG_COMMIT
    - docker push $TAG_LATEST
  only:
    - main

deploy:
  image: alpine:latest
  stage: deploy
  script:
    - chmod og= $ID_RSA
    - apk update && apk add openssh-client
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker compose pull spring-app"  # Scarica solo il nuovo container spring-app
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker compose up -d spring-app"  # Riavvia solo il container spring-app
  only:
    - main

lint-test-job:
  image: docker:latest
  stage: test
  services:
    - docker:dind
  script:
    - echo "Linting code... This will take about 10 seconds."
    - sleep 10
    - echo "No lint issues found."
