services:
  spring-app:
    image: registry.gitlab.com/psychoorange/greedys_api/spring-app
    restart: on-failure
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5050:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/greedys_v1
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Minosse100%
    depends_on:
      - db
      - rabbitmq
    networks:
      - app-network

  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: greedys_v1
      MYSQL_ROOT_PASSWORD: Minosse100%
    ports:
      - "3307:3306"
    volumes:
      - /home/$USER/db_data:/var/lib/mysql
    networks:
      - app-network
    stdin_open: true
    tty: true

  rabbitmq:
    image: rabbitmq:latest
    environment:
      - RABBITMQ_DEFAULT_USER=ascovale
      - RABBITMQ_DEFAULT_PASS=Sirio56asc!
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network
    volumes:
      - /home/$USER/rabbitmq_data:/var/lib/rabbitmq

networks:
  app-network:

volumes:
  db_data: