services:
  spring-app:
    image: registry.gitlab.com/psychoorange/greedys_api/spring-app:latest
    ports:
      - "5050:8443"  # Espone la porta HTTPS sul container
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
    depends_on:
      - db
    networks:
      - app-network
    environment:
      SPRING_PROFILES_ACTIVE: "docker"  # Profilo di configurazione attivo per Docker
    secrets:
      - keystore
      - keystore_password
      - db_password
      - email_password
      - rabbitmq_password
      - service_account

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: greedys_v1
      MYSQL_ROOT_PASSWORD: "Minosse100%" 
    ports:
      - "3309:3306"
    volumes:
      - db_data:/var/lib/mysql

    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -uroot -p\"$$(cat /run/secrets/db_password)\" || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
    secrets:
      - db_password

networks:
  app-network:
    driver: overlay

volumes:
  db_data:

secrets:
  keystore:
    external: true
  keystore_password:
    external: true
  db_password:
    external: true
  email_password:
    external: true
  rabbitmq_password:
    external: true
  rabbitmq_config:
    external: true
  service_account:
    external: true

