services:
  spring-app:
    image: ${CI_REGISTRY_IMAGE}/spring-app:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5050:8443" 
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/greedys_v1
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      SPRING_PROFILES_ACTIVE: docker
      DB_PASSWORD: ${DB_PASSWORD}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      KEYSTORE_PASSWORD: ${KEYSTORE_PASSWORD}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "curl -k -f https://localhost:8443/actuator/health || exit 1"]
      interval: 5s
      timeout: 30s
      retries: 6

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: greedys_v1
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - /home/${USER}/db_data:/var/lib/mysql
    networks:
      - app-network
    stdin_open: true
    tty: true
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -p${DB_PASSWORD}"]
      interval: 2s
      timeout: 30s
      retries: 10

  rabbitmq:
    image: rabbitmq:latest
    environment:
      RABBITMQ_DEFAULT_USER: ascovale
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network
    volumes:
      - /home/${USER}/rabbitmq_data:/var/lib/rabbitmq

networks:
  app-network:

volumes:
  db_data: