services:
  spring-app:
    image: registry.gitlab.com/psychoorange/greedys_api/spring-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5050:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/greedys_v1
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Minosse100%
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1"]
      interval: 5s
      timeout: 30s
      retries: 6

  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: greedys_v1
      MYSQL_ROOT_PASSWORD: Minosse100%
    ports:
      - "3307:3306"
    volumes:
      - /home/$USER/db_data:/var/lib/mysql
    networks:
      - app-network
    stdin_open: true
    tty: true
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -pMinosse100%"]
      interval: 2s
      timeout: 30s
      retries: 10

  rabbitmq:
    image: rabbitmq:latest
    environment:
      - RABBITMQ_DEFAULT_USER=ascovale
      - RABBITMQ_DEFAULT_PASS=Sirio56asc!
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network
    volumes:
      - /home/$USER/rabbitmq_data:/var/lib/rabbitmq

networks:
  app-network:

volumes:
  db_data: