services:
  spring-app:
    image: registry.gitlab.com/psychoorange/greedys_api/spring-app:latest
    ports:
      - "5050:8443"  # Espone la porta HTTPS sul container
    deploy:
      replicas: 1
    depends_on:
      - db
      - rabbitmq
    networks:
      - app-network
    environment:
      SPRING_PROFILES_ACTIVE: "docker"  # Profilo di configurazione attivo per Docker
    secrets:
      - keystore
      - keystore_password
      - db_password
      - email_password
      - rabbitmq_password
      - service_account

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: greedys_v1
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_password  # Password di root dal Docker secret
    ports:
      - "3306:3306"
    volumes:
      - ./db_data:/var/lib/mysql  
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -uroot -p\"$$(cat /run/secrets/db_password)\" || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
    secrets:
      - db_password

  rabbitmq:
    image: rabbitmq:management
    ports:
      - "5672:5672"   # Porta per il broker RabbitMQ
      - "15672:15672" # Porta per l'interfaccia di management
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "rabbitmqctl status --quiet || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
    secrets:
      - rabbitmq_config
    environment:
      RABBITMQ_CONFIG_FILE: /run/secrets/rabbitmq_config

networks:
  app-network:

volumes:
  db_data:

secrets:
  keystore:
    external: true
  keystore_password:
    external: true
  db_password:
    external: true
  email_password:
    external: true
  rabbitmq_password:
    external: true
  rabbitmq_config:
    external: true
  service_account:
    external: true

