body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f4;
}

.calendar-container {
	border-radius: 10px;
	background-color: white;
	padding: 20px;
	max-width: 300px;
	margin: 0 auto;
	position: relative; /* Aggiunto */
}

.calendar-header {
	text-align: center;
	margin-bottom: 20px;
	padding-top: 30px; /* Aggiungi spazio sopra alle icone */
}

.icons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	position: absolute; /* Aggiunto */
	margin-top: 20px;
	top: 0;
	left: 50%; /* Aggiunto */
	transform: translateX(-50%); /* Aggiunto */
}

.icon {
	margin: 0 10px;
}

.prev-month {
	cursor: pointer;
}

.next-month {
	cursor: pointer;
}

.calendar {
	display: grid;
	grid-template-columns: repeat(7, 40px); /* Larghezza dei giorni */
	grid-auto-rows: 40px; /* Altezza dei giorni */
	gap: 3px; /* Spazio tra i giorni */
	justify-content: center;
}

.day {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
	cursor: pointer;
	background-color: #fff;
}

.calendar>.day:nth-child(-n+7) {
	color: black;
	background-color: #92e7c8;
	/* Cambia il colore di sfondo delle celle dei giorni della settimana */
}

.day.disabled {
	pointer-events: none;
	color: #ccc;
}

.day:hover:not(.disabled) {
	background-color: #92e7c8;
	/* Colore di sfondo al passaggio del mouse */
}

.selected {
	background-color: #92e7c8;
	/* Verde pastello per il giorno selezionato */
}

.footer-button {
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #ccc;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	margin-top: 20px;
}

.day-of-week {
	font-size: 12px; /* Modifica la dimensione del carattere */
	font-weight: bold; /* Aggiungi grassetto */
	color: darkgray; /* Cambia il colore del testo */
	text-transform: uppercase; /* Trasforma il testo in maiuscolo */
}

.month-name {
	font-size: 20px; /* Modifica la dimensione del carattere */
	font-weight: bold; /* Aggiungi grassetto */
	color: black; /* Cambia il colore del testo */
	text-transform: uppercase; /* Trasforma il testo in maiuscolo */
}

.month-wrapper {
	display: flex;
	justify-content: space-between; /* Allinea gli elementi ai margini */
	align-items: center; /* Allinea verticalmente al centro */
}

.arrow {
	color: grey;
}

.cell-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
}
.cell-slot:hover:not(.disabled) {
	background-color: #92e7c8;
	/* Colore di sfondo al passaggio del mouse */
}

.table-slot {
    display: grid;
    grid-template-columns: repeat(4, calc(75px - 3px)); /* Larghezza delle colonne */
    grid-auto-rows: 40px; /* Altezza delle righe */
    gap: 3px; /* Spazio tra le celle */
    justify-content: center;
}

.service-text {
	font-size: 20px; /* Modifica la dimensione del carattere */
	font-weight: bold; /* Aggiungi grassetto */
	color: black; /* Cambia il colore del testo */
	text-transform: uppercase; /* Trasforma il testo in maiuscolo */
	text-align: center;
	margin-bottom: 20px; /* Aggiungi spazio sotto di 20px */
	margin-top: 20px; /* Aggiungi spazio sopra di 20px */
}

.form-container {
	border-radius: 10px;
	background-color: white;
	padding: 20px;
	width: 300px;
	margin: 0 auto;
}