body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f4;
}

/* Stile per l'overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Scuro e trasparente */
    z-index: 1000; /* Assicurati che l'overlay sia sopra altri elementi */
}

/* Stile per il popup */
.popup {
    position: fixed;
    max-width: fit-content;
	max-height: fit-content;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; /* Assicurati che il popup sia sopra l'overlay */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aggiungi un'ombra per un effetto migliore */
    padding: 20px;
    border-radius: 10px; /* Aggiungi angoli arrotondati se desiderato */
}

.calendar-container {
	border-radius: 10px;
	background-color: white;
	padding: 20px;
	max-width: 300px;
	margin: 0 auto;
	position: relative; /* Aggiunto */
}

.calendar-header {
	text-align: center;
	margin-bottom: 20px;
	padding-top: 30px; /* Aggiungi spazio sopra alle icone */
}

.icons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	position: absolute; /* Aggiunto */
	margin-top: 20px;
	top: 0;
	left: 50%; /* Aggiunto */
	transform: translateX(-50%); /* Aggiunto */
}

.icon {
	margin: 0 10px;
}

.prev-month {
	cursor: pointer;
}

.next-month {
	cursor: pointer;
}

.calendar {
	display: grid;
	grid-template-columns: repeat(7, 40px); /* Larghezza dei giorni */
	grid-auto-rows: 40px; /* Altezza dei giorni */
	gap: 3px; /* Spazio tra i giorni */
	justify-content: center;
}

.day {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
	cursor: pointer;
	background-color: #ffffff;
}

.calendar>.day:nth-child(-n+7) {
	color: black;
	background-color: #139433;
	/* Cambia il colore di sfondo delle celle dei giorni della settimana */
}

.day.disabled {
	pointer-events: none;
	color: #ccc;
}

.day:hover:not(.disabled) {
	background-color: #92e7c8;
	/* Colore di sfondo al passaggio del mouse */
}

.selected {
	background-color: #92e7c8;
	/* Verde pastello per il giorno selezionato */
}

.footer-button {
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #ccc;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	margin-top: 20px;
}

.day-of-week {
	font-size: 12px; /* Modifica la dimensione del carattere */
	font-weight: bold; /* Aggiungi grassetto */
	color: darkgray; /* Cambia il colore del testo */
	text-transform: uppercase; /* Trasforma il testo in maiuscolo */
}

.month-name {
	font-size: 20px; /* Modifica la dimensione del carattere */
	font-weight: bold; /* Aggiungi grassetto */
	color: black; /* Cambia il colore del testo */
	text-transform: uppercase; /* Trasforma il testo in maiuscolo */
}

.month-wrapper {
	display: flex;
	justify-content: space-between; /* Allinea gli elementi ai margini */
	align-items: center; /* Allinea verticalmente al centro */
}

.arrow {
	color: grey;
}

.cell-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
	position: relative;
}
.cell-slot:hover:not(.disabled) {
	background-color: #92e7c8;
	/* Colore di sfondo al passaggio del mouse */
}

.table-slot {
    display: grid;
    grid-template-columns: repeat(4, calc(75px - 3px)); /* Larghezza delle colonne */
    grid-auto-rows: 40px; /* Altezza delle righe */
    gap: 3px; /* Spazio tra le celle */
    justify-content: center;
	position: inherit;
}

.service-container {
    display: flex; /* Dispone gli elementi in una riga */
    flex-direction: row; /* Imposta la direzione degli elementi in orizzontale */
    overflow-x: auto; /* Aggiunge una barra di scorrimento orizzontale se necessario */
    white-space: nowrap; /* Impedisce agli elementi di andare a capo */
	padding-top: 30px;
}

.service-container > * {
    flex: 0 0 auto; /* Impedisce agli elementi di ridimensionarsi */
    margin-right: 10px; /* Aggiunge uno spazio tra gli elementi */
}

.service-text {
	font-size: 18px; /* Modifica la dimensione del carattere */
	font-weight: bold; /* Aggiungi grassetto */
	color: black; /* Cambia il colore del testo */
	text-transform: uppercase; /* Trasforma il testo in maiuscolo */
	text-align: center;
	margin-bottom: 20px; /* Aggiungi spazio sotto di 20px */
	margin-top: 20px; /* Aggiungi spazio sopra di 20px */
	position: relative;
}

.service-selected {
    background-color: #735ee9; /* Colore di sfondo per il servizio selezionato */
    color: black; /* Colore del testo per il servizio selezionato */
}

.form-container {
	border-radius: 10px;
	background-color: white;
	padding: 20px;
	width: 200px;
	height: 300px;
	overflow-y: auto;
	margin: 0 auto;
	margin-top: 35px;
}
