body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f4;
}

.service-container {
	border-radius: 10px;
	background-color: white;
	padding: 20px;
    width: 900px; /* Aumenta la larghezza */
	margin: 0 auto;
	position: relative;
	min-height: 360px;

    display: flex; /* Aggiunto */
    justify-content: center; /* Aggiunto */
    align-items: center; /* Aggiunto */
    flex-direction: column; /* Aggiunto */
	/* Aggiunto */
}

.weekdays-container {
	border-radius: 10px;
	background-color: white;
	padding: 20px;
	max-width: 300px;
	margin: 0 auto;
	position: relative;
	/* Aggiunto */
}

.container {
	display: flex;
}

.left {
	flex: 3;
}

.right {
	flex: 1;
}

.table {
	width: 100%;
}

.agenda-header {
	text-align: center;
	margin-bottom: 20px;
	padding-top: 30px;
}

.arrow {
	color: grey;
}
.prev-day {
	cursor: pointer;
}

.next-day {
	cursor: pointer;
}
.services {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.weekday{
	text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.prev-day, .weekday2, .next-day {
    margin-right: 10px;
    margin-left: 10px;
}
#agenda-day-2 {
    font-size: 200%;
}
th {
	padding: 10px;
}
#weekday2 {
    font-size: 24px; /* Imposta la dimensione del testo a 24px */
}
#overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
}

#popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);            
	max-width: 80%;  /* Aggiunto max-width */
	display: none;
	z-index: 3;
	overflow-y: auto;
	max-height: 90%;

}
#popup-content {
	background-color: white;
	padding: 20px;
	border-radius: 4px;
}

#close-btn {
	float: right;
	width: 3%;
	line-height: 34px;
	cursor: pointer;
	color: #ccc;
	font-size: 30px;
	font-weight: 900;
}
.btn-hover-color:hover {
	color: #92e7c8 !important;
}

.day-checkbox {
	display: inline-block;
	margin-right: 10px;
}

.center-text {
	text-align: center;
}

#service-table th, #service-table td {
    padding: 0 20px;  /* Aumenta questo valore per aumentare lo spazio */
}


