<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link th:href="@{/css/services.css}" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <!-- jQuery, Popper.js, SockJS, STOMP omitted for brevity -->
</head>

<body>
    <div class="container">
        <div class="row">
            <!-- Colonna dei servizi del ristorante -->
            <div class="col-md-6">
                <!-- !!! aggiungere localizzazione !!! -->
                <h2>Servizi del Ristorante</h2>
                <div th:each="service : ${session.restaurant.services}">
                    <p th:text="${service.name}" th:onclick="'showSlots(\'' + ${service.id} + '\')'"></p>
                </div>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createServiceModal">Aggiungi nuovo servizio</button>

                <!-- Modal -->
                <div class="modal fade" id="createServiceModal" tabindex="-1" role="dialog" aria-labelledby="createServiceModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createServiceModalLabel">Nuovo Servizio</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="serviceName">Nome del servizio</label>
                                        <input type="text" class="form-control" id="serviceName" placeholder="Inserisci il nome del servizio">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer" th:data-restaurant="${session.restaurant.id}">
                                <!-- Add hidden input field for CSRF token -->
				                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                                <button type="button" class="btn btn-primary" onclick="saveService()" disabled>Salva</button>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    function saveService() {
                        var serviceName = document.getElementById("serviceName").value;
                        var restaurant= document.querySelector(".modal-footer").getAttribute("data-restaurant");

                        const data = {
                            name: serviceName,
                            restaurant: restaurant
                        }
                        // Make a POST request to /restaurant/service with the service name and restaurant id
                        fetch("/restaurant/service/", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRF-TOKEN": document.querySelector('input[name="_csrf"]').value

                            },
                            body: JSON.stringify(data)
                        }).then(response => {
                            if (response.ok) {
                                console.log("Servizio salvato con successo");
                                // Reload the page
                                location.reload();
                            } else {
                                alert("Errore durante il salvataggio del servizio");
                            }
                        });
                    }
                    document.getElementById("serviceName").addEventListener("input", function() {
                        var serviceName = document.getElementById("serviceName").value;
                        var saveButton = document.querySelector(".modal-footer button.btn-primary");
                        if (serviceName.trim() !== "") {
                            saveButton.disabled = false;
                        } else {
                            saveButton.disabled = true;
                        }
                    });
                </script>
            </div>
            <!-- Colonna della timetable degli slot -->
            <div class="col-md-6">
                <h2>Timetable degli Slot</h2>
                <!-- Qui puoi usare una libreria JavaScript per generare una timetable o creare una tabella HTML -->
                <div id="timetable"></div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createSlotModal">Aggiungi nuovo slot</button>
                <!-- Modal -->
                <div class="modal fade" id="createSlotModal" tabindex="-1" role="dialog" aria-labelledby="createSlotModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createSlotModalLabel">Nuovo Slot</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="dayOfWeek">Giorno della settimana</label>
                                        <select class="form-control" id="dayOfWeek">
                                            <option value="Monday">Lunedì</option>
                                            <option value="Tuesday">Martedì</option>
                                            <option value="Wednesday">Mercoledì</option>
                                            <option value="Thursday">Giovedì</option>
                                            <option value="Friday">Venerdì</option>
                                            <option value="Saturday">Sabato</option>
                                            <option value="Sunday">Domenica</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="startTime">Orario di inizio</label>
                                        <input type="time" class="form-control" id="startTime">
                                    </div>
                                    <div class="form-group">
                                        <label for="endTime">Orario di fine</label>
                                        <input type="time" class="form-control" id="endTime">
                                    </div>
                                </form>
                            </div>
                                <!-- Add hidden input field for CSRF token -->
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                                <button type="button" class="btn btn-primary" onclick="saveSlot()">Salva</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        let selectedServiceId = null;
        function showSlots(serviceId) {
            selectedServiceId = serviceId;
            console.log("Mostra slot per il servizio con id: " + serviceId);
            // Make a GET request to /restaurant/service/slots
            fetch("/restaurant/service/slots?serviceId=" + serviceId, {
                method: "GET",
                headers: {
                    "X-CSRF-TOKEN": document.querySelector('input[name="_csrf"]').value
                }
            }).then(response => {
                if (response.ok) {
                    console.log("Slot recuperati con successo");
                    return response.json();
                } else {
                    alert("Errore durante il recupero degli slot");
                    throw new Error('Failed to fetch slots'); // Interrompe l'esecuzione della catena di promesse
                }
            }).then(data => {
                if (!data) return; // Verifica che i dati non siano vuoti
                var timetable = document.getElementById("timetable");
                timetable.innerHTML = "";
                data.forEach(slot => {
                    var slotElement = document.createElement("div");
                    slotElement.innerHTML = `${slot.startTime} - ${slot.endTime}`;
                    timetable.appendChild(slotElement);
                });
            }).catch(error => console.error('There was an error!', error));
            }

            function saveSlot() {
                        var dayOfWeek = document.getElementById("dayOfWeek").value;
                        var startTime = document.getElementById("startTime").value;
                        var endTime = document.getElementById("endTime").value;
                        const data = {
                            weekday: dayOfWeek,
                            start: startTime,
                            end: endTime,
                            serviceId: selectedServiceId
                        }
                        // Make a POST request to /restaurant/service/slot with the slot details and service id
                        fetch("/restaurant/service/slot/", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRF-TOKEN": document.querySelector('input[name="_csrf"]').value
                            },
                            body: JSON.stringify(data)
                        }).then(response => {
                            if (response.ok) {
                                console.log("Slot salvato con successo");
                                // Reload the page
                                location.reload();
                            } else {
                                alert("Errore durante il salvataggio dello slot");
                            }
                        });
                    }
    </script>
</body>

</html>