<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data Picker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css" />
    <style>
        .datepicker {
            border-radius: 20px;
            background-color: #f8f9fa;
        }
        .datepicker table tr td.today,
        .datepicker table tr td.today:hover,
        .datepicker table tr td.today.disabled,
        .datepicker table tr td.today.disabled:hover {
            background-color: #007bff;
            color: #fff;
        }
    </style>
</head>
<body>
    <form action="#" th:action="@{/submitDate}" method="post">
        <div class="form-group">
            <label for="datepicker">Seleziona una data:</label>
            <div class="input-group date" id="datepicker">
                <input type="hidden" class="form-control" name="date" th:value="${date}" required />
                <div class="input-group-append">
                    <span class="input-group-text">
                         <i class="fas fa-calendar" style="color: #f78da7;"></i>
                    </span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Invia</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
    <script>
        $(document).ready(function () {
            var datepicker = $('#datepicker').datepicker({
                format: "dd/mm/yyyy",
                language: "it",
                todayHighlight: true
            });

            datepicker.datepicker('show');
        });
    </script>
</body>
</html>
