
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
<title th:text="#{label.pages.home.title}">home</title>
</head>
<body>
	<!--Navbar -->
	<div th:replace="fragments/page-navbar :: header" > </div>


	<div class="container">
		<div sec:authorize="hasAuthority('WRITE_PRIVILEGE')"
			th:text="#{label.pages.user.message}">user</div>

		<div sec:authorize="hasAuthority('WRITE_PRIVILEGE')"
			th:text="#{label.pages.admin.message}"></div>

		<p th:if="${param.user} != null" th:text="${param.user[0]}">user</p>

		<a class="btn btn-default" th:href="@{/admin.html}"
			th:text="#{label.pages.admin}">admin</a><a
			th:href="@{/company/loggedUsers}"
			th:text="#{label.pages.users.message}">View logged in users</a> 
		<a th:href="@{/loggedUsersFromSessionRegistry}"
			th:text="#{label.pages.users.sessionregistry.message}">View
			logged in users</a>

	</div>
</body>
</html>
