<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

<title>Spring MVC Form Handling</title>
</head>

<body>

	<!--Navbar -->
	<div th:replace="fragments/page-navbar :: header"></div>

	<div class="container">
		<div>
			<h1 th:text="#{label.company.newReservation}">Restaurant</h1>
			<form action="/get-services" method="POST" enctype="utf8">
				<div class="form-group row">
					<label class="col-sm-3" th:text="#{label.reservation.pax}">pax</label> 
					<span class="col-sm-5"> <input class="form-control" name="pax" value="" required="required" /></span> 
					<span id="firstNameError" class="alert alert-danger col-sm-4" style="display: none"></span>
				</div>
				<div class="form-group row">
					<label class="col-sm-3" th:text="#{label.reservation.date}">date</label>
					<span class="col-sm-5"><input class="form-control" name="date" value="" required="required" type="datetime" /></span> <span
						id="firstNameError" class="alert alert-danger col-sm-4"
						style="display: none"></span>
				</div>
				<input type="hidden" name="idRestaurant" th:value="${idRestaurant}"></input>
				<button type="submit" class="btn btn-primary"
					th:text="#{label.form.submit}">submit</button>
			</form>
			<!--       <a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>  -->
		</div>
	</div>
</html>