<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	</link>
	<title th:text="#{label.pages.home.title}">home</title>
</head>

<body>
	<!--Navbar -->
	<div th:replace="fragments/page-navbar :: header"></div>

	<div class="container">
		<div>
			<h1 th:text="#{label.front.searchRestaurant}">Restaurant</h1>
			<br />
			<form action="/searchRestaurant" method="GET" enctype="utf8">
				<div class="form-group row">
					<label class="col-sm-3" th:text="#{label.front.searchRestaurant}">Search
						Restaurant </label> <span class="col-sm-5"><input class="form-control" name="searchTerm"
							value="" required="required" /></span> <span id="firstNameError"
						class="alert alert-danger col-sm-4" style="display: none"></span>
				</div>
				<br />
				<button type="submit" class="btn btn-primary" th:text="#{label.form.submit}">submit</button>
			</form>
			<br />
			<!--       <a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>  -->
		</div>
	</div>
</body>

</html>