<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- SockJS -->
    <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>

    <!-- STOMP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <link th:href="@{/resources/services.css}" rel="stylesheet" />


</head>


<body>
    <style>
        .time-input {
            display: inline-block;
            margin-right: 10px;
            /* Aggiungi un po' di spazio tra gli elementi */
        }
    </style>

    <div th:replace="fragments/page-navbar :: header"> </div>

    <body>
        <div class="container">


            <div id="overlay" onclick="closePopup()"></div>

            <div id="popup">
                <div id="popup-content">

                    <span id="close-btn" onclick="closePopup()">&times;</span>
                    <form id="insert-service">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name"><br><br>
                        <label for="service-type">Service Type:</label>
                        <select id="service-type" name="service-type">
                            <option value="type1">Type 1</option>
                            <option value="type2">Type 2</option>
                            <option value="type3">Type 3</option>
                        </select><br><br>


                        <label class="time-input" for="open-time">Open Time:</label>
                        <input class="time-input" type="time" id="open-time" name="open-time">

                        <label class="time-input" for="close-time">Close Time:</label>
                        <input class="time-input" type="time" id="close-time" name="close-time"><br><br>

                        <label for="slot-interval">Slot Interval:</label>
                        <select id="slot-interval" name="slot-interval">
                            <option value="00:15">15 minuti</option>
                            <option value="00:30">30 minuti</option>
                            <option value="01:00">1 ora</option>
                            <option value="01:30">1,5 ore</option>
                            <option value="02:00">2 ore</option>
                            <option value="03:00">3 ore</option>
                            <option value="04:00">4 ore</option>
                        </select><br><br>

                        <label for="time-reservation">Time Reservation:</label>
                        <select id="time-reservation" name="time-reservation">
                            <option value="00:15">15 minuti</option>
                            <option value="00:30">30 minuti</option>
                            <option value="01:00">1 ora</option>
                            <option value="01:30">1,5 ore</option>
                            <option value="02:00">2 ore</option>
                            <option value="03:00">3 ore</option>
                            <option value="04:00">4 ore</option>
                        </select><br><br>

                        <p class="center-text">Days:</p>
                        <div class="day-checkbox">
                            <input type="checkbox" id="sunday" name="days" value="sunday">
                            <label for="sunday">Sunday</label><br>
                        </div>
                        <div class="day-checkbox">
                            <input type="checkbox" id="monday" name="days" value="monday">
                            <label for="monday">Monday</label><br>
                        </div>

                        <div class="day-checkbox">
                            <input type="checkbox" id="tuesday" name="days" value="tuesday">
                            <label for="tuesday">Tuesday</label><br>
                        </div>

                        <div class="day-checkbox">
                            <input type="checkbox" id="wednesday" name="days" value="wednesday">
                            <label for="wednesday">Wednesday</label><br>
                        </div>

                        <div class="day-checkbox">
                            <input type="checkbox" id="thursday" name="days" value="thursday">
                            <label for="thursday">Thursday</label><br>
                        </div>

                        <div class="day-checkbox">
                            <input type="checkbox" id="friday" name="days" value="friday">
                            <label for="friday">Friday</label><br>
                        </div>

                        <div class="day-checkbox">
                            <input type="checkbox" id="saturday" name="days" value="saturday">
                            <label for="saturday">Saturday</label><br>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-secondary"
                            style="background-color:  #92e7c8; border-color: lightgray; color: black; margin: auto; margin-bottom: 10px; width: 80%; margin-top: 20px;display: block; ">
                    </form>
                </div>
            </div>

            <script>
                function openPopup() {
                    document.getElementById("popup").style.display = "block";
                    document.getElementById("overlay").style.display = "block";
                }

                function closePopup() {
                    document.getElementById("popup").style.display = "none";
                    document.getElementById("overlay").style.display = "none";
                }
            </script>


            <div class="left">
                <div th:replace="fragments/service-day-setting :: service-day-setting"> </div>


            </div>
            <div class="right">
                <div class="day-services-container" style="background-color: white; padding: 20px;">
                    <button type="button" class="btn btn-secondary"
                        style="background-color:  #92e7c8; border-color: lightgray; color: black; margin-bottom: 10px; width: 100%;"
                        onclick="openPopup()">Add Service</button>
                </div>
                <div class="day-services-container" style="background-color: white; padding: 20px;">
                    <div class="btn-group-vertical" role="group" style="width: 100%;">
                        <button type="button" class="btn btn-secondary btn-hover-color"
                            style="background-color: white; border-color: lightgray; color: darkgray;">Sunday</button>
                        <button type="button" class="btn btn-secondary btn-hover-color"
                            style="background-color: white; border-color: lightgray; color: darkgray;">Monday</button>
                        <button type="button" class="btn btn-secondary btn-hover-color"
                            style="background-color: white; border-color: lightgray; color: darkgray;">Tuesday</button>
                        <button type="button" class="btn btn-secondary btn-hover-color"
                            style="background-color: white; border-color: lightgray; color: darkgray;">Wednesday</button>
                        <button type="button" class="btn btn-secondary btn-hover-color"
                            style="background-color: white; border-color: lightgray; color: darkgray;">Thursday</button>
                        <button type="button" class="btn btn-secondary btn-hover-color"
                            style="background-color: white; border-color: lightgray; color: darkgray;">Friday</button>
                        <button type="button" class="btn btn-secondary btn-hover-color"
                            style="background-color: white; border-color: rgb(187, 186, 186); color: darkgray;">Saturday</button>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <script th:src="@{/js/navbar.js}"></script>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function () {

                var dayMapping = {
                    "Sunday": 0,
                    "Monday": 1,
                    "Tuesday": 2,
                    "Wednesday": 3,
                    "Thursday": 4,
                    "Friday": 5,
                    "Saturday": 6
                };
                const weekdays = ["SUNDAY", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY"];

                // Make an AJAX request to fetch service types from the database
                $.ajax({
                    url: '/fetch-service-types', // Replace with the endpoint URL to fetch service types
                    type: 'GET',
                    success: function (data) {
                        // Clear existing options
                        $('#service-type').empty();
                        // Add new options based on the response data
                        data.forEach(function (serviceType) {
                            $('#service-type').append('<option value="' + serviceType.id + '">' + serviceType.name + '</option>');
                        });
                    },
                    error: function (error) {
                        // Handle error here
                    }
                });


                $(".btn-hover-color").click(function () {
                    // Your code here

                    // Deseleziona tutti i pulsanti
                    $(".btn-hover-color").css("background-color", "white");
                    $(".btn-hover-color").css("color", "darkgray");

                    // Seleziona il pulsante cliccato
                    $(this).css("background-color", "#92e7c8");
                    $(this).css("color", "black");

                    // Cambia il testo e il colore dello span
                    var dayText = $(this).text();
                    $("#weekday2").text(dayText);
                    $("#weekday2").css("color", "#92e7c8");

                    // Converti il testo del giorno in un numero
                    var dayNumber = dayMapping[dayText];


                    // Effettua una chiamata AJAX al server
                    $.get("/day-services?weekday=" + encodeURIComponent(dayNumber), function (data) {
                        // Svuota la tabella
                        $("#service-table tbody").empty();

                        // Aggiungi i nuovi dati alla tabella
                        data.forEach(function (serviceDto) {
                            console.log("         <<<<    " + serviceDto.name);
                            $("#service-table tbody").append(
                                "<tr>" +
                                "<td>" + serviceDto.name + "</td>" +
                                "<td>" + serviceDto.open + "</td>" +
                                "<td>" + serviceDto.close + "</td>" +
                                // Aggiungi altre colonne qui
                                "</tr>"
                            );
                        });


                    });

                });
                $('#insert-service').on('submit', function (e) {
                    e.preventDefault();
                    var name = $('#name').val();
                    var openTime = $('#open-time').val();
                    var closeTime = $('#close-time').val();
                    var serviceType = $('#service-type').val();
                    var slotInterval = $('#slot-interval').val();
                    var timeReservation = $('#time-reservation').val();

                    var days = $('input[name="days"]:checked').map(function () {
                        return this.value;
                    }).get();
                    console.log("<<<<    " + days);

                    $.ajax({
                        url: '/add-service',
                        type: 'POST',
                        contentType: 'application/json', // Aggiungi questa linea
                        data: JSON.stringify({
                            name: name,
                            open: openTime,
                            close: closeTime,
                            slotInterval: slotInterval,
                            timeReservation: timeReservation,
                            serviceType: serviceType,
                            weekdays: days

                        }),
                        success: function (response) {
                            console.log(">>>   Successo   <<<");
                            closePopup();
                            // Cancella i dati dal form
                            $('#name').val('');
                            $('#open-time').val('');
                            $('#close-time').val('');
                            $('#slot-interval').val('');
                            $('#time-reservation').val('');
                            $('input[name="days"]:checked').prop('checked', false);
                            $('#service-type').prop('selectedIndex', 0); // Seleziona il primo elemento
                        },
                        error: function (error) {
                            console.log(">>>   Errore   <<<");
                            $('#error-message').text('Si è verificato un errore durante l\'invio del form. Riprova.');
                            $('#error-message').show();
                        }
                    });
                });
            });

        </script>

    </body>

</html>