<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
	<title th:text="#{label.pages.home.title}">Title</title>
	<style type="text/css">
		.wrapper {
			width: 500px;
			margin-left: auto;
			margin-right: auto
		}

		label {
			padding-left: 0 !important
		}
	</style>
</head>

<body>

	<!--Navbar -->
	<div th:replace="fragments/page-navbar :: header"> </div>
	<div class="container">
		<div class="row wrapper">
			<h1 th:text="#{label.company.manager}">Company</h1>
			<br />
			<br /> <br />
			<br /> <a class="btn btn-default" th:href="@{/company/reservation}"
				th:text="#{label.company.addReservation}">Add Reservation</a> <a class="btn btn-default"
				th:href="@{/company/modifyReservation}" th:text="#{label.company.modifyReservation}">Modify
				Reservation</a>
			<a class="btn btn-default" th:href="@{/company/restaurant}" th:text="#{label.company.addRestaurant}">Add
				Restaurant</a>

		</div>
	</div>
</body>

</html>